[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.12.1"
flask-migrate = "==2.0.3"
flask-script = "==2.0.5"
flask-sqlalchemy = "==2.2"
itsdangerous = "==0.24"
jinja2 = "==2.9.6"
markupsafe = "==1.1.1"
pyparsing = "==2.2.0"
python-editor = "==1.0.3"
six = "==1.10.0"
sqlalchemy = "==1.1.9"
werkzeug = "==0.12.1"

[dev-packages]

[requires]
python_version = "3.8"
